.login {
  background: url(../../assets/bg-img.jpg) no-repeat center;
  background-size: 100% 100%;
  min-height: 100vh;
  position: relative;
  form {
    margin-left: 37%;
    position: absolute;
    top: 50%;
    margin-top: -197px;
    width: 380px;
    opacity: 0.9;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(219, 217, 219, 0.99);
    padding: 25px 25px 21px 25px;

    input {
      width: 330px;
      background-color: #fcfcfc;
      height: 40px;
      border: solid 1px rgba(219, 217, 219, 0.99);
      outline: none;
      line-height: 1;
      text-align: left;
      color: #959495;
      padding: 0 12px;
      vertical-align: top;
    }

    button {
      width: 330px;
    }

    .forgot{
      float: right;
    }
  }
}
