@tailwind base;
@tailwind components;
@tailwind utilities;

.border-bottom-default {
  border-bottom: 1px solid gray;
}

.border-left {
  border-left: 1px solid gray;
}

.border-top {
  border-top: 1px solid gray;
}

.min-width-980 {
  min-width: 980px;
}

.min-width-500 {
  min-width: 500px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
